.calendar-box {
    position: relative;
    width: 262px;
    background: rgb(236, 241, 218);
}

.calendar-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #df2095;
}

.year-minus-btn,
.month-minus-btn,
.month-plus-btn,
.year-plus-btn {
    width: 24px;
    height: 24px;
    padding: 0 5px;
    cursor: pointer;
    color: black;
}

.year-minus-btn:before,
.month-minus-btn:before,
.month-plus-btn:before,
.year-plus-btn:before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
}

.month-plus-btn:before,
.year-plus-btn:before {
    transform: rotate(180deg);
}

.year-minus-btn:before,
.year-plus-btn:before {
    background: url(../assets/doubleLeft.svg);
    background-size: 100%, 100%;
}

.month-minus-btn:before,
.month-plus-btn:before {
    background: url(../assets/left.svg);
    background-size: 100%, 100%;
}

.month-plus-btn {
    float: right;
}

.year-plus-btn {
    float: right;
}

.calendar-content {
    margin: 15px;
}

.calendar-table {
    display: table;
    border-collapse: separate;
}

.calendar-table tr {
    display: table-row;
    vertical-align: inherit;
}

.calendar-table th {
    padding: 5px;
}

.calendar-table td th {
    display: table-cell;
    vertical-align: inherit;
    border: 0;
    text-align: center
}

.calendar-col-header {
    line-height: 18px;
    width: 33px;
    padding: 6px 0;
}

.calendar-data {
    display: block;
    width: 24px;
    height: 24px;
}